@import "Abstract/theme";
@import "Abstract/font";
@import "Abstract/mixin";

nav{
    display: none;
    position: sticky;
    top: 40vh;
    font-size: $h3;
    float:right;
    ul{
        direction: rtl;
        list-style-type: none;
        padding: 0 1rem 0 0;
    }

    li{
        margin: $h5 0;
        width: fit-content;
        cursor: pointer;
    }

    a{
        text-decoration: none;
        color: $primeText;
        &:hover{
            color: $prime;
        }
    }

    @include md {
        display: initial;
    }
}

footer{
    padding: 2rem 0.5rem;
    background-color: $backLight;
    text-align: center;

    @include md {
        padding: 2rem 17rem;
    }
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    border-bottom: 0.2rem dashed $primeText;
    h3{
        margin: 0;
        font-size: $h2;
    }
    p{
        display: none;
        font-style: italic;
    }
    @include md {
        justify-content: space-between;
        p{
            display: initial
        }
    }
}

.subHeader{
    margin:$h5 auto;
    min-width: 30rem;
    width: fit-content;
    text-align: center;
    
    h4{
        @include cornerBorder;
        padding: $h5;
        font-size: $h3;

    }
}

.button{
    margin: $h5 auto;
    width: fit-content;
    cursor: pointer;
    &:hover{
        background-color: $backLight;
    }
    p{
        font-size: $h3;
        padding: 0.5em 2em;
        @include cornerBorder;

    }
}

.textField{
    @include cornerBorder;
    margin-bottom: 2rem;
    padding: 0.5rem;

    @include md{
        width: 70rem;
    }
    .textBackground{
        padding: $h5;
        background-image: url("../IMG/textGrid2x3.svg");
        background-repeat: repeat;
        p{
            margin: 0.5rem 2rem;

        }
    }
}

.media{
    margin-top: 2rem;
    img{
        @include cornerBorder;
        padding: 0.5rem;
        width: calc(100% - 1.4rem);
        height: auto;
        @include md{
            width: 70rem;
        }
    }
}

.skillsList{
    margin-top: 3rem;
    padding: 0;
    list-style-type: none;
    
    li{
        @include cornerBorder;
        margin-bottom: 3rem;
        width: 30rem;
    }

    .itemBack{
        background-image: url("../IMG/textGrid2x3.svg");
        background-repeat: repeat;
    }

    .itemBar{
        width: var(--width);
        background: $primeGradient;
    }

    .itemLevel{
        float: right;
        transform: translate(0, -16px);
        display: var(--display);

        &::after{
            content: "tri";
        }
    }

    p{
        margin: 0;
        width: 275px;
        padding: 10px 0 10px 25px;
    }
}