@import "Abstract/theme";
@import "Abstract/font";
@import "Abstract/mixin";
nav{
    position: sticky;
    top: 40vh;
    font-size: $h3;
    float:right;
    ul{
        direction: rtl;
    }

    li{
        margin: 15px 0;
        width: fit-content;
        cursor: pointer;
        &:hover{
            color: $prime;
        }
    }
}

footer{
    padding: 2em 8.8%;
    background-color: $backLight;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dashed $primeText;
    h3{
        margin: 0;
        font-size: $h2;
    }
    p{
        font-style: italic;
    }
}

.subHeader{
    margin:15px 0;
    width: fit-content;
    
    h4{
        @include cornerBorder;
        padding: 10px;
        font-size: $h3;

    }
}

.button{
    margin: 15px 0;
    width: fit-content;
    cursor: pointer;
    &:hover{
        background-color: $backLight;
    }
    p{
        font-size: $h3;
        padding: 1em 3em;
        @include cornerBorder;

    }
}

.textField{
    @include cornerBorder;
    padding: 5px;
    .textBackground{
        padding: 10px;
        background-image: url("../IMG/textGrid2x3.svg");
        background-repeat: repeat;
        p{
            margin: 5px 20px;
        }
    }
}

.skillsList{
    margin-top: 20;
    padding: 0;
    list-style-type: none;
    
    li{
        @include cornerBorder;
        margin-bottom: 20px;
        width: 300px;
    }

    .itemBack{
        background-image: url("../IMG/textGrid2x3.svg");
        background-repeat: repeat;
    }

    .itemBar{
        width: var(--width);
        overflow: visible;
        background: $primeGradient;
    }

    p{
        margin: 0;
        width: 275px;
        padding: 10px 0 10px 25px;
        font-size: $h4;
    }
}