nav {
  position: -webkit-sticky;
  position: sticky;
  top: 40vh;
  font-size: 2.6rem;
  float: right;
}

nav ul {
  direction: rtl;
}

nav li {
  margin: 15px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

nav li:hover {
  color: #bc3030;
}

footer {
  padding: 2em 8.8%;
  background-color: #303035;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px dashed #f2f2f2;
}

.header h3 {
  margin: 0;
  font-size: 3rem;
}

.header p {
  font-style: italic;
}

.subHeader {
  margin: 15px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.subHeader h4 {
  /* thickness */
  /* color */
  /* width */
  border: 2px solid transparent;
  /* space for the border */
  background: conic-gradient(from 90deg at top 2px left 2px, #0000 90deg, #f2f2f2 0) 0 0, conic-gradient(from 180deg at top 2px right 2px, #0000 90deg, #f2f2f2 0) 100% 0, conic-gradient(from 0deg at bottom 2px left 2px, #0000 90deg, #f2f2f2 0) 0 100%, conic-gradient(from -90deg at bottom 2px right 2px, #0000 90deg, #f2f2f2 0) 100% 100%;
  background-size: 15px 15px;
  background-origin: border-box;
  background-repeat: no-repeat;
  padding: 10px;
  font-size: 2.6rem;
}

.button {
  margin: 15px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.button:hover {
  background-color: #303035;
}

.button p {
  font-size: 2.6rem;
  padding: 1em 3em;
  /* thickness */
  /* color */
  /* width */
  border: 2px solid transparent;
  /* space for the border */
  background: conic-gradient(from 90deg at top 2px left 2px, #0000 90deg, #f2f2f2 0) 0 0, conic-gradient(from 180deg at top 2px right 2px, #0000 90deg, #f2f2f2 0) 100% 0, conic-gradient(from 0deg at bottom 2px left 2px, #0000 90deg, #f2f2f2 0) 0 100%, conic-gradient(from -90deg at bottom 2px right 2px, #0000 90deg, #f2f2f2 0) 100% 100%;
  background-size: 15px 15px;
  background-origin: border-box;
  background-repeat: no-repeat;
}

.textField {
  /* thickness */
  /* color */
  /* width */
  border: 2px solid transparent;
  /* space for the border */
  background: conic-gradient(from 90deg at top 2px left 2px, #0000 90deg, #f2f2f2 0) 0 0, conic-gradient(from 180deg at top 2px right 2px, #0000 90deg, #f2f2f2 0) 100% 0, conic-gradient(from 0deg at bottom 2px left 2px, #0000 90deg, #f2f2f2 0) 0 100%, conic-gradient(from -90deg at bottom 2px right 2px, #0000 90deg, #f2f2f2 0) 100% 100%;
  background-size: 15px 15px;
  background-origin: border-box;
  background-repeat: no-repeat;
  padding: 5px;
}

.textField .textBackground {
  padding: 10px;
  background-image: url("../IMG/textGrid2x3.svg");
  background-repeat: repeat;
}

.textField .textBackground p {
  margin: 5px 20px;
}

.skillsList {
  margin-top: 30px;
  padding: 0;
  list-style-type: none;
}

.skillsList li {
  /* thickness */
  /* color */
  /* width */
  border: 2px solid transparent;
  /* space for the border */
  background: conic-gradient(from 90deg at top 2px left 2px, #0000 90deg, #f2f2f2 0) 0 0, conic-gradient(from 180deg at top 2px right 2px, #0000 90deg, #f2f2f2 0) 100% 0, conic-gradient(from 0deg at bottom 2px left 2px, #0000 90deg, #f2f2f2 0) 0 100%, conic-gradient(from -90deg at bottom 2px right 2px, #0000 90deg, #f2f2f2 0) 100% 100%;
  background-size: 15px 15px;
  background-origin: border-box;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  width: 300px;
}

.skillsList .itemBack {
  background-image: url("../IMG/textGrid2x3.svg");
  background-repeat: repeat;
}

.skillsList .itemBar {
  width: var(--width);
  overflow: visible;
  background: -webkit-gradient(linear, left top, left bottom, from(#802121), color-stop(25%, #bc3030), color-stop(75%, #bc3030), to(#802121));
  background: linear-gradient(180deg, #802121 0%, #bc3030 25%, #bc3030 75%, #802121 100%);
}

.skillsList .itemLevel {
  float: right;
  -webkit-transform: translate(0, -16px);
          transform: translate(0, -16px);
  display: var(--display);
}

.skillsList .itemLevel::after {
  content: "tri";
}

.skillsList p {
  margin: 0;
  width: 275px;
  padding: 10px 0 10px 25px;
  font-size: 1.8rem;
}
/*# sourceMappingURL=components.css.map */