@import "Abstract/theme";
@import "Abstract/font";
@import "Abstract/mixin";

nav{
    display: none;
    position: sticky;
    top: 40vh;
    font-size: $h3;
    float:right;
    ul{
        direction: rtl;
        padding: 0 1rem 0 0;
    }

    li{
        margin: $h5 0;
        width: fit-content;
        cursor: pointer;
    }

    a{
        text-decoration: none;
        &:hover{
            color: $prime;
        }
    }

    @include hv {
        display: initial;
    }
}

footer{
    margin-top: 2rem;
    padding: 2rem 0.5rem;
    border-top: 0.2rem solid $prime;
    background-color: $backLight;
    text-align: center;

    ul{
        margin: 0 auto;
        overflow: hidden;
        width: fit-content;

        li{
            float: left;
            margin: 0 2rem;
        }

        a{
            &:hover{
                color: $prime;
            }
        }
    }
    @include md {
        padding: 2rem 17rem;
    }
}

.header{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0 0 2rem 0;
    padding: 1rem 1rem;
    white-space: nowrap;
    border-bottom: 0.2rem dashed $primeText;
    h3{
        margin: 0;

        &::before{
            content: "";
            display: inline-block;
            background-image: url("../IMG/triDownRed.svg");
            width: 2rem;
            height: 2rem;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    p{
        display: none;
        font-style: italic;
    }
    @include lg {
        justify-content: space-between;
        padding: 1rem 3rem;

        p{
            display: initial
        }
    }
}

.subHeader{
    margin:$h5 auto;
    min-width: 30rem;
    width: fit-content;
    text-align: center;
    
    h4{
        @include cornerBorder;
        margin: 0;
        padding: $h5;
    }
}

.majorButton{
    @include cornerBorder;
    border-top: 0.2rem dashed $primeText;
    border-bottom: 0.2rem dashed $primeText;
    background-color: $backLight;
    width: fit-content;
    margin: 0 auto 2rem;
    transition: 0.3s;

    button{
        padding: $h5 4rem;
        border: none;
        background-color: transparent;
    }

    a{
        font-size: $h3;
        text-decoration: none;
        transition: 0.3s;

    }

    &:hover{
        background-color: $backHighlight;

        a{
            border-bottom: 0.4rem solid $prime;
        }
    }

    @include hv{
        a{padding: 0 2rem 0.2rem 2rem;}
    }
}

.minorButton{
    padding: 0;
    background-color: $backLight;
    border: none;
    border: dashed 0.1rem $subText;
    border-left: solid 0.3rem $primeText;
    border-right: solid 0.3rem $primeText;
    a{
        text-decoration: none;
        padding: 0.5rem 4rem;
    }

    &:hover{
        background: $primeGradient;
    }
}

.textField{
    @include cornerBorder;
    padding: 0.5rem;
    text-align: center;

    .textBackground{
        padding: $h5;
        background-image: url("../IMG/textGrid2x3.svg");
        background-repeat: repeat;
        p{
            margin: 0.5rem 0;

        }
    }

    @include md{
        text-align: left;
        width: 70rem;

        p{
            margin: 0.5rem 2rem;
        }
    }
}

.projectThumbnail{
    position: relative;
    margin: 0 0 4rem 0;
    img{
        width: 100%;
        height: auto;
    }

    ul{
        li{
            float: left;
            color: $prime;
            width: 6.5rem;
            height: 4rem;
            background-color: $primeText;
            background-clip: content-box;
            font-size: $h6;
            text-align: center;
            padding-right: 1.5rem;
            margin: 0 0 0 1.5rem;
            border-right: 0.2rem solid $primeText;

            &:first-of-type{
                margin: 0;
                padding-left: 1.5rem;
                border-left: 0.2rem solid $primeText;
            }
        }
    }

    .borderWrapper{
        @include cornerBorder;
        padding: 0.5rem;
    }

    .overlay{
        img{
            display: none;
        }
    }

    .contentFlexWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .projectName{
        margin: 1rem 0 1rem 0;
        padding: 0 1.5rem;
        background: $primeGradient;
        background-clip: content-box;
        border-left: 0.2rem solid $primeText;
        border-right: 0.2rem solid $primeText;
        text-align: center;

        h4{
            margin: 0;
            padding: 0.5rem 6rem;
        }
    }

    .textField{
        margin: 1rem 0;
        padding: 0;
        width: fit-content;
        text-align: center;

        p{
            margin: 0;
        }
    }

    @include lg{
        width: 48%;
        margin: 0;

        img{height: 25vh;}

        ul{
            li{
                width: 10rem;
                height: 2rem;
            }
        }

        .overlay{
            position: absolute;
            top: 0.7rem;
            left: 0.7rem;
            height: auto;
            width: calc(100% - 1.4rem);
            opacity: 0;
            img{
                display: initial;
            }
        }

        .contentFlexWrapper{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            justify-content: space-around;
            width: 95%;
            height: 95%;
        }

        .projectName{
            margin: 0.5em 0 0 0;
        }

        .textField{
            margin: 0;
        }

        &:hover{
            .overlay{
                opacity: 1;
            }
        }
    }

    @include xl{
        width: 30%;

        img{height: 30vh;}
    }
}

.media{
    img,iframe{
        @include cornerBorder;
        padding: 0.5rem;
        width: calc(100% - 1.4rem);
        height: auto;
    }

    margin: 0 0 2rem 0;

    @include md{
        img,iframe{width: 70rem;}

        iframe{height: 40rem;}
    }
}

.skillsList{
    margin-top: 1.5rem;
    
    li{
        @include cornerBorder;
        margin-bottom: 3rem;
        width: 30rem;
    }

    .itemBack{
        background-image: url("../IMG/textGrid2x3.svg");
        background-repeat: repeat;
    }

    .itemBar{
        width: var(--width);
        background: $primeGradient;
    }

    .itemLevel{
        float: right;
        white-space: nowrap;
        transform: translate(0.5rem, -1.6rem);
        display: var(--display);
        font-size: 1rem;

        &::after{
            content: "";
            display: inline-block;
            background-image: url("../IMG/triDownRed.svg");
            width: 1rem;
            height: 1rem;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    p{
        margin: 0;
        width: 27.5rem;
        padding: 10px 0 10px 25px;
        white-space: nowrap;

        &::before{
            content: "";
            display: inline-block;
            background-image: url("../IMG/triRightWhite.svg");
            width: 1rem;
            height: 1rem;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}