@import "Abstract/theme";
@import "Abstract/mixin";

#landing{
    background-image: url("../IMG/triGrid3.svg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    box-shadow: 0 0 1rem 1rem $back inset;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{margin: 1rem;}

    h2{margin: 1rem 1rem 6rem 1rem;}

    .majorButton{
        align-self: flex-start;
    }
}

#projects{
    .gridWrapper{
        @include lg{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 2rem 0;
            height: 100%;
        }

        @include xl{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 2rem 0;
            height: 100%;
        }
    }
}

#bio{
    .gridWrapper{
        display: grid;
        grid-template-areas: 
        "bio"
        "text1"
        "exp"
        "text2"
        "text3"
        "button"
        ;
        justify-items: center;
    }
}

#skills{
    .gridWrapper{
        display: grid;
        grid-template-areas: 
        "tools"
        "list1"
        "hard"
        "list2"
        "soft"
        "list3"
        "lang"
        "list4"
        ;

        @include md{
            grid-template-areas: 
            "tools lang"
            "list1 list4"
            "hard soft"
            "list2 list3"
            ;
        }

        @include xl{
            grid-template-areas: 
            "tools hard soft lang"
            "list1   list2   list3   list4"
            ;
        }


        justify-items: center;
    }
    .subHeader{
        &:nth-of-type(1){
            grid-area: tools;
        }

        &:nth-of-type(2){
            grid-area: hard;
        }

        &:nth-of-type(3){
            grid-area: soft;
        }

        &:nth-of-type(4){
            grid-area: lang;
        }
        
    }
    .skillsList{
        &:nth-of-type(1){
            grid-area: list1;
        }

        &:nth-of-type(2){
            grid-area: list2;
        }

        &:nth-of-type(3){
            grid-area: list3;
        }

        &:nth-of-type(4){
            grid-area: list4;
        }
        
    }
}