@import "Abstract/theme";
@import "Abstract/mixin";

#landing{
    background-image: url("../IMG/triGrid3.svg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    box-shadow: 0 0 1rem 1rem $back inset;
    margin: 0 auto;
}

#skills{
    .gridWrapper{
        display: grid;
        grid-template-areas: 
        "tools"
        "list1"
        "hard"
        "list2"
        "soft"
        "list3"
        "lang"
        "list4"
        ;
        @include md{
            grid-template-areas: 
            "tools hard soft lang"
            "list1   list2   list3   list4"
            ;
        }


        justify-items: center;
    }
    .subHeader{
        &:nth-of-type(1){
            grid-area: tools;
        }
        
    }
    .skillsList{
        &:nth-of-type(1){
            grid-area: list1;
        }

        &:nth-of-type(2){
            grid-area: list2;
        }

        &:nth-of-type(3){
            grid-area: list3;
        }

        &:nth-of-type(4){
            grid-area: list4;
        }
        
    }
}