@import "Abstract/theme";
@import "Abstract/mixin";

section{
    padding-bottom: 5rem;

    &:not(:first-of-type){
        background-color: $backLight;
    }

    li{
        font-size: 1.6rem;
        padding-bottom: 1rem;
    }

    .gridWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#landing{
    text-align: center;
    background-image: url("../IMG/triGrid3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1{margin:  0 0 3rem 0;}

    h2{margin: 0;}

    ul,p{margin: 0;}

    .gridWrapper{
        display: grid;
        justify-content: stretch;
        gap: 2rem;
        grid-template-areas: 
        "res"
        "client"
        "deliver"
        "colab"
        ;
    }

    #res{
        grid-area: res;
    }

    #client{
        grid-area: client;
    }
    #deliver{
        grid-area: deliver;
    }
    #colab{
        grid-area: colab;
    }

    @include md{
        .gridWrapper{
            grid-template-areas: 
            "res colab"
            "client deliver"
            ;
        }
    }

    @include lg{
        background-image: url("../IMG/New\ UI\ filtered\ 2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 50rem;

        h1{padding: 10rem 0 0 0;}
        
        .gridWrapper{
            grid-template-areas: 
            "res client deliver colab"
            ;
        }
    }
}